<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignWebForm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container pt-4">
            &nbsp;&nbsp;&nbsp; <a asp-action="Home">XML</a> &nbsp;&nbsp;&nbsp; <a asp-action="File">File</a> &nbsp;&nbsp;&nbsp; <a asp-action="Text">Text</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Web data digital sign... sign sign, "Sign" by AceOfBase
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
